@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Asp_MongoDB.Models.Book>

<div class="ltn__slider-area ltn__slider-6 mb-120---">
    <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1 slick-initialized slick-slider">
        <!-- ltn__slide-item -->
        <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 1583px;" role="listbox">
                <div class="ltn__slide-item--- ltn__slide-item-9 section-bg-1 img-fluid bg-image slick-slide slick-current slick-active" data-slick-index="0" style="background-image: url(/images/cus/banner/banner.jpg); width: 1583px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"
                     aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00">
                    <div class="ltn__slide-item-inner">
                        <div class="slide-item-info bg-overlay-white-90 text-center">
                            <div class="slide-item-info-inner  ltn__slide-animation">
                                <h1 class="slide-title animated">YOUR WORLD <br> OF WORDS</h1>
                                <h4 class="slide-sub-title text-uppercase animated">SITEWIDE 21% OFF</h4>
                                <div class="btn-wrapper animated">
                                    <a href="shop.html" class="theme-btn-1 btn btn-effect-1 text-uppercase" tabindex="0">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!-- slider-area end -->
<!-- category-area start -->
<div class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="~/images/cus/icon/4-track.svg" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>Free home delivery</h4>
                                    <p>Provide free home delivery for all over 100</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="~/images/cus/icon/5-madel.svg" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>Quality Products</h4>
                                    <p>We ensure the product quality that is our main goal</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="~/images/cus/icon/6-return.svg" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>3 Days Return</h4>
                                    <p>Return product within 3 days for any product you buy</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="~/images/cus/icon/7-support.svg" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>Online Support</h4>
                                    <p>We ensure the product that you can trust easily</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- category-area end -->
<!-- product-area start -->
<div class="product-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>All Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-lg-10">
                <div class="product-menu">
                    <ul class="nav">
                        <li>
                            <a class="{{  categoryId==''?'active':'' }}" (click)="findBookByCateId('')">
                                All Product
                            </a>
                        </li>
                        @foreach (var category in ViewData["Category"] as IEnumerable<Category>)
                        {
                            <li>
                                <a class="" >@category.CategoryName</a>
                            </li>
                        }
                        </ul>
                </div>
            </div>

        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="all">
                <ul class="row">
                    @foreach (var item in Model)
                    {
                        <li class="col-lg-3 col-sm-6 col-12">
                            <div class="product-wrap">
                                <a asp-action="Details"  asp-route-id="@item.BookId" asp-controller="Books">
                                    <div class="product-img">
                                        <img src="~/images/books/@Html.DisplayFor(modelItem => item.Image)" alt=" @Html.DisplayFor(modelItem => item.BookName)">
                                    </div>
                                </a>
                                <ul class="icon">
                                    <li>
                                        <a (click)="!bk.status?err(bk.name): addToCart(bk.id)"><i class="fa fa-shopping-cart"></i></a>
                                        <span>Add Cart</span>
                                    </li>
                                    <li>
                                        <a asp-action="Details"  asp-route-id="@item.BookId" asp-controller="Books"><i class="fa fa-eye"></i></a>
                                        <span>Detail</span>
                                    </li>
                                </ul>
                                <div class="product-content fix">
                                    <h3>
                                        <a asp-action="Details"  asp-route-id="@item.BookId" asp-controller="Books" class="text-uppercase">
                                            @Html.DisplayFor(modelItem => item.BookName)
                                        </a>
                                    </h3>
                                    <span class="pull-left">
                                        <div class="price">
                                            <span class="new-price">
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </span>
                                        </div>
                                    </span>

                                </div>

                            </div>
                        </li>

                    }

                    <li class="col-12 text-center">
                        <a class="loadmore-btn">Load More</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- product-area end -->
<!-- banner-area start -->
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-wrap">
                    <a href="">
                        <img src="~/images/cus/banner/1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner-area end -->
<!-- blog-area start -->
<div class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Latest News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-wrap">
                    <div class="deat">
                        <p>25<span>JAN</span></p>
                    </div>
                    <img src="https://auteur.g5plus.net/main/wp-content/uploads/2018/11/post-04.jpg" alt="blog">
                    <div class="blog-content">
                        <h3><a href="blog.html">We are Providing You the Best Things</a></h3>
                        <ul>
                            <li>By <a href="#">Admin</a></li>
                            <li>|</li>
                            <li><a href="#">Product</a></li>
                        </ul>
                        <a href="blog-details.html" class="readmore">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-wrap">
                    <div class="deat">
                        <p>12<span>APRIL</span></p>
                    </div>
                    <img src="https://auteur.g5plus.net/main/wp-content/uploads/2018/11/post-09.jpg" alt="blog">
                    <div class="blog-content">
                        <h3><a href="blog.html">laborum aliquam quia molestiae.</a></h3>
                        <ul>
                            <li>By <a href="#">Admin</a></li>
                            <li>|</li>
                            <li><a href="#">Product</a></li>
                        </ul>
                        <a href="blog-details.html" class="readmore">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-wrap">
                    <div class="deat">
                        <p>18<span>JUN</span></p>
                    </div>
                    <img src="https://auteur.g5plus.net/main/wp-content/uploads/2018/11/post-17.jpg" alt="blog">
                    <div class="blog-content">
                        <h3><a href="blog.html">Sequi debitis vitae the beatae maxime.</a></h3>
                        <ul>
                            <li>By <a href="#">Admin</a></li>
                            <li>|</li>
                            <li><a href="#">Product</a></li>
                        </ul>
                        <a href="blog-details.html" class="readmore">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->
