@model IEnumerable<Asp_MongoDB.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header row">
    <div class="header-sub-title col-md-12">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a class="breadcrumb-item" asp-controller="Categories" asp-action="Index">
                Categories
            </a>
            <span class="breadcrumb-item active">List Category</span>
        </nav>
    </div>
    <div class="col-md-12" style="display: flex;">
        <form action="" method="get" class="form-inline ml-lg-auto">
            <div class="form-group">
                <label class="sr-only" for="">label</label>
                <input class="form-control" name="name" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-icon btn-default mr-1"><i class="anticon anticon-search"></i></button>
        </form>
        <a asp-action="Create">
            <i class="anticon anticon-plus btn btn-icon btn-success"></i>
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td class="d-flex">
                        <a asp-action="Edit" asp-area="Admin" asp-route-id="@item.CategoryId">
                            <i class="anticon anticon-form btn btn-icon btn-warning mr-2"></i>
                        </a>
                        <a asp-action="Details" asp-area="Admin" asp-route-id="@item.CategoryId">
                            <i class="anticon anticon-info-circle btn btn-icon btn-primary mr-2"></i>
                        </a>
                        <a class="btn btn-icon btn-danger" asp-action="Delete" asp-area="Admin" asp-route-id="@item.CategoryId" onclick="return confirm('Are you sure ?')">
                            <i class="anticon anticon-delete btn btn-icon btn-danger"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
